<head>
    <style>
        * {
            margin: 0;
        }

        .Container {
            margin: 0 auto;
            width: max-content;
        }

        table,
        th,
        td {
            border: 2px solid black
        }

        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="Container">
        <h1>Add Employee Page(MongoDB)</h1>

        

        <form action="/addEmployee" method="POST">
            <label>EID:</label>
            <input name="_id" type="text" /><br>

            <label>Phone</label>
            <input name="phone" type="number" /><br>

            <label>Email</label>
            <input name="email" type="text" inputmode="email" /><br>

            <br>
            <div class="ButtonHolder">
                <input type="submit" value="Add" id="UpdateButton" />
            </div>
        </form>
        <br>
        <a href="/">Home</a>
    </div>
</body>
