<body>
    <div id="Container">
        <h1>Mysql & MongoDb Homepage</h1>

        <a href="/employees">Employees</a> <br />

        <a href="/depts">Departments</a> <br />

        <a href="/employeesMongoDB">Employees (Mongodb)</a> <br />
    </div>
</body>